
html{
    font-family: Helvetica
}

body{
    margin: 0;
}

h1 {font-size: 40px;}

p {
    font-size: 18px;
    text-align: justify;
}

button {
    font-size: 20px;
    background-color: #1991c8;
    margin-top: 30px;
    margin-left: 80%;
    padding: 20px;
    border-radius: 16px;
    color: white;
}

.container{
    grid-template-columns: 20% auto;
    display: grid;
}

.sidebar{
    background-color: #BFE6F7;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #7D99A6;
    border: none;
    position:absolute;

    height: 500px;
    width: 10px;

    left: 9.8%;
}

.sidebar > div {
    list-style-type: none;
    z-index: 5;
}

.sidebar > div > p {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    color: white;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #1991c8;
    border-radius: 50%;
}

.sidebar > div > .active{
    background-color: #1991c8;
}

.sidebar > div > .inactive{
    background-color: #7D99A6;
}

.container_body{
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 75px;
}