html, body{
    font-family: Helvetica;
    height: 100%;
    margin: 0;
}

.container{
    grid-template-columns: 10% auto;
    display: grid;
}

.sidebar{
    background-color: #BFE6F7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #7D99A6;
    border: none;
    position:absolute;

    height: 500px;
    width: 10px;

    left: 4.8%;
}

.sidebar > div {
    list-style-type: none;
    z-index: 5;
}

.sidebar > div > p {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    color: white;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #1991c8;
    border-radius: 50%;
}

.sidebar > div > .active{
    background-color: #1991c8;
}

.sidebar > div > .inactive{
    background-color: #7D99A6;
}

@media only screen and (max-width: 1500px) {
    .sidebar {
        display: none;
    }
}

.container_body{
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 75px;
}

/* .summarization {
    grid-template-columns: 50% 50%;
    display: grid;
} */

.summarization > div {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    background-color: #d4dbdf;
    border-radius: 16px;
}

.sample_summary {
    min-height: 200px;
}

h1 {font-size: 40px;}

p {
    font-size: 17px;
    text-align: justify;
}

.button_container{
    margin-left: 1%;
    grid-template-columns: 50% 50%;
    display: grid;
}

button {
    font-size: 20px;
    background-color: #1991c8;
    margin-top: 20px;
    padding: 20px;
    border-radius: 16px;
    color: white;
    border: none;
    width: 170px;
}

button:hover{
    background-color: #1777a3;
    cursor: pointer;
}

.next_button {
    float: right;
    margin-right: 01%;
}

a {
    color: white;
    text-decoration: none;
}

.input_summary {
    border: none;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    resize: none;
    overflow: scroll;
    font-size: 17px;
}