html, body{
    font-family: Helvetica;
    height: 100%;
    margin: 0;
}

li {
    padding: 5px;
}

.container{
    grid-template-columns: 9% auto;
    display: grid;
}

.sidebar{
    background-color: #ddc9fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #b1a3c5;
    border: none;
    position:absolute;
    height: 450px;
    width: 9px;
    left: 4.3%;
}

.sidebar > div {
    list-style-type: none;
    z-index: 5;
}

.sidebar > div > p {
    font-size: 45px;
    padding: 9px;
    text-align: center;
    color: white;

    border-radius: 50%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.sidebar > div > .active{
    background-color: #8e60be;
}

.sidebar > div > .inactive{
    background-color: #b1a3c5;
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

.container_body{
    margin-top: 50px;
    margin-left: 67px;
    margin-right: 67px;
    min-width: 500px;
}

/* .summarization {
    grid-template-columns: 50% 50%;
    display: grid;
} */

.summarization > div {
    text-align: justify;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 27px;
    padding-right: 27px;
    margin: 9px;
    background-color: #e8e4ee;
    border-radius: 16px;
}

.sample_summary {
    min-height: 180px;
}

h1 {font-size: 36px;}

p {
    font-size: 15px;
    text-align: justify;
}

.next_button {
    font-size: 18px;
    background-color: #8e60be;
    margin-top: 18px;
    padding: 18px;
    border-radius: 14px;
    color: white;
    border: none;
    width: 153px;
    margin-left: 85%;
}

.next_button:hover{
    background-color: #745892;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.input_summary {
    width: 100%;
    min-height: 100px;
    margin-bottom: 9px;
    resize: none;
    font-size: 15px;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .modal-button {
    background-color: #8e60be;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }