form {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 700px;
}

.radio_list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* margin-bottom: 10px; */
    margin-left: 5%;
}

.survey_textarea {
    width: 100%;
    /* margin-bottom: 10px; */
    resize: none;
    overflow: scroll;
    font-size: 17px;
}