form {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    min-width: 1000px;
}

.radio_list {
    display: grid;
    margin-left: 5%;
}

.survey_textarea {
    width: 100%;
    resize: none;
    font-size: 15px;
}

fieldset{
    border:none;
}