form {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    min-width: 630px;
}

.radio_list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 5%;
}

.survey_textarea {
    width: 100%;
    resize: none;
    font-size: 15px;
}